{% extends 'base.html' %}

{% block title %}Success!{% endblock %}

{% block content %}
<h1>Success!</h1>
<p>You successfully launched a fully-functional Django web application with my one-click deploy button!</p>
<p>Before you get going, there are a few things you should know:</p>
<ul>
    <li>You can log in to the admin panel (<code>/admin</code>) with username <b>admin</b> and password <b>password</b></li>
    <li>To start editing this web app you should clone this git repo to your local machine</li>
    <li>In your terminal run <code>heroku info</code> and clone that git repo</li>
    <li>If you have any issues, please let me know! I will be adding more info on how to get in touch soon.</li>
</ul>
{% endblock content %}
